html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}
/* Класс для обнуления базовых свойств у списков (ul) */
.list {
	list-style: none;
	padding-left: 0;
	margin: 0;
}
/* Класс для обнуления базовых свойств у ссылок */
.link {
	text-decoration: none;
	color: inherit;
}
/* Свойства для корректного отображения картинок */
img {
	display: block;
	max-width: 100%;
	height: auto;
}
/* Свойства для обнуления курсива у address */
address {
	font-style: normal;
}

:root{
    --text-color-black: #212121;
    --color-white: #FFFFFF;
    --text-color-gray: #757575;
    --text-color-contacts-footer: rgba(255,255,255,0.6);
    --accent-color-main: #2196F3;
    --secondary-background-color: #f5f4fa;
    --icons-clients-color: #afb1b8;
    --background-color: #e5e5e5;
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


}

/* all pages */
body {
    padding-top: 80px;
   background: var(--color-white);
   font-family: Roboto, sans-serif; 
   letter-spacing: 0.03em;
   color: var(--text-color-gray);
   margin: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;    
}


/* Header */
.page-header {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    border-bottom: 1px solid #ECECEC;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    display: flex;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-web {
    display: block;
    color: var(--accent-color-main);
}

.logo-studio {
    display: block;
    color: var(--text-color-black);
}

.site-nav {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color-black);
}

.nav-nav .item+.item {
    margin-left: 50px;
}

.nav-nav {
    display: flex;
    margin-left: 93px;
} 

.nav-contacts {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
}

.nav-contacts .item+.item {
    margin-left: 50px;
}

.site-nav-link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    text-decoration: none;
    color: var(--text-color-black);
    
    transition: color 250ms var(--transition-timing-function);
}

.site-nav-link::after {
    content: " ";
    position: absolute;
    display: block;
    width: 0%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color-main);
    bottom: 0;
    left: 0;
    transition: width 250ms var(--transition-timing-function);
}

.current::after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color-main);
    bottom: -1px;
    left: 0;
}

.site-nav-link:hover:after,
.site-nav-link:focus:after {
    width: 100%;
}

.site-nav-contacts {
    display: flex;
    align-items: center;
    color: var(--text-color-gray);
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color 250ms var(--transition-timing-function);
}

.icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: var(--text-color-gray);
}

.icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: var(--text-color-gray);
}

.site-nav-link:hover, 
.site-nav-link:focus {
    color: var(--accent-color-main);
}

.current,
.site-nav-contacts:focus,
.site-nav-contacts:hover {
    color: var(--accent-color-main);
}

.site-nav-contacts:hover .icon-phone,
.site-nav-contacts:focus .icon-phone,
.site-nav-contacts:hover .icon-mail,
.site-nav-contacts:focus .icon-mail {
    fill: var(--accent-color-main);
    transition: fill 250ms var(--transition-timing-function);
}


/* body index */
/* hero */
.hero {
    text-align: center;
    }

.hero-section {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    background-image: 
        linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
        url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    font-weight: 900;
    margin-bottom: 30px;
    padding-left: 252px;
    padding-right: 252px;
    font-size: 44px;
    line-height: 1.36; 
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
}

.btn-hero {
    border-radius: 4px;
    border: none;
    min-width: 200px;
    padding: 10px 32px;
    font-family: Roboto, sans-serif;
    background-color: var(--accent-color-main);
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    cursor: pointer;

    transition: background-color 2250ms var(--transition-timing-function);
}

.btn-hero:hover {
    background-color: #188CE8;
    color: var(--color-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;    
}

/* benefits */

.benefits-titles {
    color: transparent;
    font-size: 0;
}

.benefits-grid {
    display: flex;
}

.benefits-list {
    width: 270px;
}
.benefits-grid .benefits-list+.benefits-list {
    margin-left: 30px;
}

.benefits-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-background-color);
}

.benefits-icon {
    display: flex;
}

.icon-details {
    width: 65.32px;
    height: 70px;
    fill: var(--accent-color-main);
}

.icon-time {
    width: 67px;
    height: 70px;
    fill: var(--accent-color-main);
}

.icon-planning {
    width: 70px;
    height: 70px;
    fill: var(--accent-color-main);
}

.icon-austronaut {
    width: 70px;
    height: 70px;
    fill: var(--accent-color-main);
}

.benefits-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--text-color-black);
}

.benefits-description {
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 0;
}

/* our-jobs */

.our-jobs {
    padding-top: 0px;
}

.our-jobs-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--text-color-black);
}

.job-list {
    display: flex;
}

.job-item {
    position: relative;
}

.job-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100%/4);
    background-color: rgba(47, 48, 58, 0.8);
}
.our-jobs-description {
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
    bottom: 27px;
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-white);
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

}

.job-list .job-item+.job-item {
    margin-left: 30px;
}


/* stuff */
.stuff {
    background-color: var(--secondary-background-color);
}

.stuff-list {
    display: flex;
    
}

.stuff-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--text-color-black);
}

.stuff-info {
    padding-top: 30px;
    margin-bottom: 16px;
}

.stuff-name {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    color: var(--text-color-black);
}

.stuff-position {
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}

.stuff-list .stuff-item+.stuff-item {
    margin-left: 30px;
}

.stuff-item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--color-white);
}

.soc-nw {
    margin-bottom: 1.875rem;
}

.social {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.social .social-network+.social-network {
    margin-left: 0.625rem;
}

.social-network {
    display: flex;
}
    
.social-link {
    display: inline-flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: inherit;
    transition: background-color 250ms var(--transition-timing-function);
}
.icon-social {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    fill: var(--icons-clients-color);
    transition: fill 250ms var(--transition-timing-function);
}
.social-link:focus,
.social-link:hover {
    background-color: var(--accent-color-main);
}

.social-link:hover .icon-social{
    fill: var(--color-white);
}

.social-link:focus .icon-social{
    fill: var(--color-white);
}



/* Постоянные клиенты */
.clients-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--text-color-black);
}

.clients-list {
    display: inline-flex;
}

.clients-pak {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icons-clients-color);
    border-radius: 4px;
    transition: fill 250ms var(--transition-timing-function);
}

.clients-item {
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.clients-item:nth-last-child(1) {
    margin-right: 0px;
}

.btn-clients {
    align-items: center;
    display: block;
    fill: var(--icons-clients-color);
    transition: fill 250ms var(--transition-timing-function);
}

.clients-pak:hover .btn-clients {
    fill: var(--accent-color-main);
}

.clients-pak:focus .btn-clients {
    fill: var(--accent-color-main);
}

.clients-pak:focus,
.clients-pak:hover {
    border: 1px solid var(--accent-color-main);
    border-radius: 4px;
}




/* footer */
.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}

.footer-container {
    display: flex;

}
.left-container {
    margin-right: 4.375rem;
}

.right-container {
    margin-left: auto;
}

.join {
    display: flex;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    padding-top: 15px;
    margin-bottom: 20px;
    color: var(--color-white);
}

.soc-nwf {
    margin-bottom: 1.875rem;
}

.social-link-footer {
    display: inline-flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms var(--transition-timing-function);
}

.icon-social-footer {
    display: flex;
    justify-content: center;
    width: 20px;
    height: 20px;
    fill: var(--color-white);
}

.social-link-footer:focus,
.social-link-footer:hover {
    background-color: var(--accent-color-main);
}

.social-link-footer:hover .icon-social{
    fill: var(--color-white);
}

.logo-footer {
    display: flex;
    margin-bottom: 20px;
    font-family: raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo-studio-footer {
    color: var(--color-white);
}

.adress {
    display: flex;
    flex-direction: column;
}

.list-adress-item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-address {
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71px;
    color: var(--color-white);
    text-decoration: none;
}

.footer-contacts {
    display: inline-block;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts:hover,
.footer-contacts:focus {
   color: var(--accent-color-main); 
}

.footer-subscription-email {
    display: inline-flex;
    color: var(--text-color-gray);
    width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 16px;
    border-radius: 4px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.footer-subscription-email::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-label {
    display: inline-flex;
}

.footer-subscription-btn {
    position: relative;
    display: inline-flex;
    align-content: flex-start;
    padding: 10px 29px;

}

.footer-subscription-btn::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 28px;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


/* body portfolio */

.jobs-portfolio {
    color: transparent;
    font-size: 0;
}

.nav-filter {
    display: flex;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    justify-content: center;
}

.nav-filter .nav-filter-item+.nav-filter-item {
    margin-left: 8px;
}

.nav-filter-btn {
    padding-left: 22px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;
    border: none;
    border-radius: 4px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    color: var(--text-color-black);
    background-color: #F5F4FA;
    letter-spacing: 0.03em;
    cursor: pointer;
    transition: color 250ms var(--transition-timing-function), background-color 250ms var(--transition-timing-function), box-shadow 250ms var(--transition-timing-function);
    
}

.nav-filter-btn:active,
.nav-filter-btn:hover,
.nav-filter-btn:focus {
    color: var(--color-white);
    background-color: var(--accent-color-main);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    
}

.projects-item {
    display: flex;
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.project-item-card {
    border: 1px solid #eeeeee;
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.projects-item:nth-child(3n) {
    margin-right: 0;
}

.projects-item:nth-last-child(-n + 3)  {
    margin-bottom: 0;
}

.project-link {
    display: block;
    text-decoration: none;
    color: var(--text-color-gray);
    transition: box-shadow 250ms var(--transition-timing-function);
}

.overlay-box-projects {
    position: relative;
    overflow: hidden;
}

.overlay-projects {
    position: absolute;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--color-white);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    transform: translateY(100%);
    transition: transform 250ms var(--transition-timing-function);
}

.overlay-box-projects:hover .overlay-projects{
    transform: translateY(0%);
}

.project-link:focus,
.project-link:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
    display: inline-block;
    margin-bottom: 4px;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--text-color-black);
}

.project-type {
    margin-bottom: 0px;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
}

/* Form-field */

.form-field {
    margin-bottom: 10px;
}

.form-field-inner {
    position: relative;
}

.form-field-icon {
    position: absolute;
    width: 13px;
    height: 13px;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);

}

.form-field-label {
    display: block;
    margin: 0px 0px 4px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color-gray);
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.form-field-input {
    width: 100%;
    height: 40px;
    padding: 12px 42px;
    background: var(--color-white);
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
}

.form-field-input:focus {
    outline: none;
    border: 1px solid var(--accent-color-main);
}

.form-field-input:focus + .form-field-icon {
    fill: var(--accent-color-main)
}

.form-field-textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form-field-textarea:focus {
    outline: none;
    border: 1px solid var(--accent-color-main);
}

.form-field-textarea::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.form-field:nth-child(4) {
    margin-bottom: 20px;
}

.checkbox-field {
    display: flex;
    align-items: center;
}

.form-field-checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-icon {
    display: inline-block;
    margin: 0px 8px;
    width: 16px;
    height: 15px;
    border-radius: 4px;
    border: 1px solid var(--text-color-black);
}

.form-field-checkbox:checked + .checkbox-icon {
    background-color: var(--accent-color-main);
    border-color: var(--accent-color-main);
    background-image: url(../images/icon-check.svg);
    background-size: cover;
    background-origin: border-box;


}

.form-field:nth-child(5) {
    margin-bottom: 30px;
}

.checkbox-descrition {
    margin-bottom: 0px;
    margin-right: 5px;
    display: inline-flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.form-field-btn {
    display: block;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.privacy {
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
    color: var(--accent-color-main);
}

/* MODAL */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    transition: opacity 250ms var(--transition-timing-function), visibility 250ms var(--transition-timing-function);
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.3);
}

.modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    height: 581px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms var(--transition-timing-function);
}

.close-modal {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    outline: none;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background: var(--color-white);
    transition: transform 500ms var(--transition-timing-function);
}

.close-modal:hover {
    transform: rotate(90deg);
}

.close-modal:hover .icon-modal {
    fill: var(--accent-color-main);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-unit {
    padding: 40px;

}

.modal-unit-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color-black);
}

