.header {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    border-bottom: 1px solid #ECECEC;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}